@import service.FbArticle
@(articles: List[FbArticle]=null, error:String=null)

@box("資策會API互動工具") {
<div>
    <br>
    <form action="/facebook/analyze" method="get">
        <label for="fansPageId">粉絲頁ID&nbsp;</label><input id="fansPageId" name="fansPageId">
        <label for="startDate">起始日期&nbsp;</label><input id="startDate" name="startDate">
        <label for="endDate">結束日期&nbsp;</label><input id="endDate" name="endDate">
        <input type="submit" name="SB" value="提交請求">
    </form>
</div>
<div class="panel-body">
    @if(articles!=null) {
        @for(article <- articles){
            <a href="@article.id" target="_blank">文章id:@article.id.split("/")(5)</a>
            @article.textSeg.map(x=>(x._1,x._2.toString().substring(0,6))).mkString(" ")<br>
        }
    }
    @if(error!=null) {
        @error
    }
</div>
}